.container {
    height: 30px;
    width: 30px;
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.items {
    background-color: red;
    color: whitered;
    border-radius: 50%;
    font-size: smaller;
    font-weight: bolder;
    padding: 2px;
}